@import '../../assets/variables'
@import '../../assets/mixins'
.footer
	background-color $bgColorDark
	color $textColorLight
	text-align center
	padding 60px 0
	&__question
		font-size 14px
		margin-bottom 16px
	&__answer
		font-size: 55px;
		font-weight: 500;
		text-transform uppercase
		margin-bottom 30px
	.button
		height 31px
		border-radius 15.5px
		color #de6290
		padding 0 36px
		&__text
			font-size 12px
			font-weight 100
			background-image linear-gradient(4deg, #f75557, #de6290), linear-gradient(#ffffff, #ffffff)
			background-clip text
		