@import './variables'
@import './mixins'
html{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body{
  margin: 0;
  padding: 0;
  color: $textColor;
  font-family: 'Arial', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}
a{
  color: $textColor;
  text-decoration: none;
}
a:hover{
  color: $textColor;
  text-decoration: underline;
}
body * {
  box-sizing: border-box;
  outline: none;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  padding: 0 0 10px 0;
  margin: 0;
}
.clearfix:after{
  display: block;
  content: '';
  clear: both;
}
img{
  max-width: 100%;
  height: auto;
}
.content{
  max-width: 1920px;
  margin: 0 auto;
}
h1{
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 40px 0;
  color: @textColor;
  line-height: 1.1em;
}
.button
  border-width 1px
  border-style solid
  background none
  border-image #de6290
  height: 43px;
  border-radius: 21.5px;
  background-image: linear-gradient(4deg, #f75557, #de6290);
  box-shadow: 2.4px -1.8px 3.9px 0.1px rgba(3, 0, 0, 0.02);
  text-transform uppercase
  color $textColorLight
  padding 0 50px
  cursor pointer
  &_transparent
    background-image none